extends layout

block sources
  link(rel="stylesheet", type="text/css", href="../css/login.css")

block content
  div(class="large-3 large-centered columns")
    div(class="login-box")
      div(class="row")
        div(class="large-12 columns")
          form(method="POST" action="/login")
            div(class="row")
              div(class="large-12 columns")
                input(type="text" id="login-id" name="username" placeholder="Username" required autofocus)
            div(class="row")
              div(class="large-12 columns")
                input(type="password" id="login-pass" name="password" placeholder="Password" required)
            div(class="row")
              div(id="login-button")
                input(type="submit" class="button expand" value="Log In")
              div(id="signup-button")
                a(href="../signup/")
                  input(type="button" class="button expand" value="Sign Up")
                  
            
            
            
          
          
