extends noauth

block header
  script(src='https://www.google.com/recaptcha/api.js')
  title= "EcoAn Sign Up"

block sources
  link(rel="stylesheet", type="text/css", href="../css/signup.css")
  
block content
  div(class="large-4 large-centered columns")
    h2= "Sign Up For EcoAn!"
    div(class="signup-box")
      div(class="row")
        div(class="large-12 columns")
          form(method="POST" action="/signup")
            if(error)
              p #{error}
            div(class="row")
              div(class="large-12 columns")
                input(type="text" id="signup-id" name="username" placeholder="Username" required autofocus)
            div(class="row")
              div(class="large-12 columns")
                input(type="text" id="signup-email" name="email" placeholder="E-Mail" required)
            div(class="row")
              div(class="large-12 columns")
                input(type="text" id="signup-first" name="first" placeholder="First Name" required)
            div(class="row")
              div(class="large-12 columns")
                input(type="text" id="signup-last" name="last" placeholder="Last Name" required)
            div(class="row")
              div(class="large-12 columns")
                input(type="password" id="signup-pass" name="password" placeholder="Password" required)
            div(class="row")
              div(class="large-12 columns")
                input(type="password" id="signup-pass2" name="password2" placeholder="Repeat Password" required)
              
            div(class="g-recaptcha" data-sitekey="6LdeyyIUAAAAADyBirZ5w3On6DJ2HfIietEVwRvG")
            
            div(class="row")
              div(class="large-12 large-centered columns")                
                input(type="submit" class="button expand" value="Sign Up")
            
          
          
