extends layout

block sources
  link(rel="stylesheet", type="text/css", href="../css/table.css")
  link(rel="stylesheet", type="text/css", href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css")
  script(type="text/javascript", charset="utf8", src='//cdn.datatables.net/1.10.13/js/jquery.dataTables.js')
  script(type="text/javascript", src='../js/table.js')

block table
  div(id="data-table-container", style="display: none")
    h2(id="table_name")= table_name
    table(id="data-table", class="cell-border", cellspacing="0", width="100%")
      thead
        tr
          each header in table_header
            td= header
      tbody
        each row in table_data
          tr
            each column in row
              td= column
