#settings-container {
  width: 75%;
  margin: auto;
  text-align: center;
  padding-top: 2%;
}

#shared-table {
  margin: auto;
}

#locale-table {
  margin: auto;
}

#locales-select {
  margin-bottom: 0px;
}

h2 {
  text-align: center;
}
