#data-table-container {
  width: 80%;
  margin: auto;
  padding-top: 30px;
}

thead {
  font-size: 8pt;
}

#data-table {
  font-size: 8pt;
}

.edit-col {
  padding-right: 15px !important;
  margin: 0 auto;
}

.edit-buttons {
  width: 120%;
  height: 27px;
}

.crud-button {
  margin: auto;
}

.dataTables_scroll {
  border:1px solid #d0d0d0;
}

#crud-buttons {
  float: right;
}

#delete-button {
  margin-left: 5px;
  width: 70px;
}

#edit-button {
  margin-left: 5px;
  width: 70px;
}

#add-button {
  color: white;
  width: 70px;
}

#adv-filter-button {
  background-color: green;
}