doctype html
html
  head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js')
    div(class="title-bar" id="example-menu")
      div(class="top-bar-left")
        ul(class="dropdown menu" data-dropdown-menu)
          li(class="menu-text")= "CVBT"
          li
            a(href="#")= "Tables"
            ul(class="menu vertical")
              li
                a(href="#") History Tables
              li
                a(href="#") Buckets
              li
                a(href="#") Componentusage
              li
                a(href="#") Components
              li
                a(href="#") Comptype
              li
                a(href="#") Emp Salary
              li
                a(href="#") Fixed
              li
                a(href="#") Mix
              li
                a(href="#") Mix Registry
              li
                a(href="#") Model Cost Data
              li
                a(href="#") Personnel
              li
                a(href="#") Prod Grp
              li
                a(href="#") Productcolorcostjg
              li
                a(href="#") Products
              li
                a(href="#") Status
              li
                a(href="#") Units
              li
                a(href="#") Unittype
          li
            a(href="#") Test Materials
          li
            a(href="#") Reports
          li
            a(href="#") Temporary Tables
          li
            a(href="#") Charts
          li
            a(href="#") Months
          li
            a(href="#") Test
    title= title
    block sources
  body
    block content
    block table
    script(type="text/javascript", src='js/layout.js')
